<!--<div fxLayout="row" fxLayout.xs="column" class="profilePage">
    <div class="profileCard" fxFlex>
        PROFILE CARD
    </div>
    <div fxFlex="20px"></div>
    <div fxFlex>
        <app-sam-dyna-view [elements]="elements"></app-sam-dyna-view>
    </div>
</div>-->
<!--<app-profile></app-profile>-->
<div fxLayout="row" fxLayout.xs="column" class="profilePage">
    <div class="profileCard" fxFlex>
        PROFILE CARD
    </div>
    <div fxFlex="20px"></div>
    <div fxFlex>
        <sam-profile-section></sam-profile-section>
    </div>
</div>