<!--<p>
  sam-dyna-element works! dynamic form HTML for multiple sam-dyna-element for switch cases
</p>-->

<div>
  <div fxLayout="row">
    <div [attr.for]="element.key" class="title">{{element.label}}</div>
    <!--<div [attr.for]="element.info">{{element.info}}</div>-->
  </div>
  <div [ngSwitch]="element.controlType">

    <!--lables with icons-->
    <div *ngSwitchCase="'iconDiv'">
      <div *ngFor="let opt of element.options">
        <div fxLayout="row" class="elements">
          <div fxFlex="10" class="dataText">
            <i class="material-icons">{{opt.icon}}</i>
          </div>
          <div fxFlex></div>
          <div fxFlex="90" class="dataText">
            {{opt.data}}
          </div>
        </div>
      </div>
    </div>

    <!--data in chips-->
    <div *ngSwitchCase="'chips'">
      <md-chip-list>
        <md-chip *ngFor="let opt of element.options" selected="true" color="accent" class="chips" title='{{opt.data}} yr'>
          <div class="chips"> {{opt.name}}</div>
        </md-chip>
      </md-chip-list>
    </div>


    <!--lable with title-->
    <div *ngSwitchCase="'titleDiv'">
      <div *ngFor="let opt of element.options">
        <div fxLayout="row" class="elements">
          <div fxFlex="10" class="dataText">
            {{opt.title}}
          </div>
          <div fxFlex></div>
          <div fxFlex="90" class="dataText">
            {{opt.data}}
          </div>
        </div>
      </div>
    </div>

    <!--plain div-->
    <div *ngSwitchCase="'div'">
      <div *ngFor="let opt of element.options">
        <div fxLayout="row" class="elements">
          <div class="dataText">
            {{opt.data}}
          </div>
        </div>
      </div>
    </div>


    <div *ngSwitchCase="'input'">
      <md-input-container>
        <input mdInput name="componentProperty" [(ngModel)]="componentProperty" type="text" placeholder="Name">
      </md-input-container>
    </div>
  </div>
</div>